.expenses-list{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color:gray;    
    margin-top: 10px;
    height: 12vh;
}
.ammount-btn{
    display: flex;
    align-items:center;
    background-color: brown;
    padding: 5px;
    margin: 10px;
    
    
}