.expense-container{
    background-color: black;
    text-align: center;
    padding: 10px;
    width: 70vw;
    margin-left: 40px;
    
}
.expenses-list{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color:gray;    
    margin: 20px;
    height: 12vh;
}
.ammount-btn{
    display: flex;
    align-items:center;
    background-color: brown;
    padding: 5px;
    margin: 10px;
    
    
}