.date-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 10vh;
    margin-top: 0.5vh;
    border: 1px solid white;
    background-color: rgb(60, 59, 59);
    color: white;
    padding: 2px;
}